/* @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100&family=Montserrat:wght@100&display=swap'); */
/* HEADER*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Epilogue', sans-serif;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 98%) ;
  max-width: 1440px;
  max-height: auto;
}
.logo{
  margin-left: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
} 
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover{
  background-color:lightgrey;
}

.dropdown:hover .dropbtn:after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  border: solid black;
  border-width: 0 1px 1px 0;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.nav-right{
 left: 50vh;
}
.nav-right a{
  text-decoration: none;
  color: #000;
  margin: 10px;
}
button{
  border-radius: 10px;
  width: 80px;
  border: 1 solid #000;
  padding: 6px 5px;
  cursor: pointer;
  background-color: #ffff;
}
button:hover{
  background-color: #000;
  color: #fff;
}
/* Menu */
#menu-icon{
  font-size: 35px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
#close-icon {
  font-size: 24px;
  cursor: pointer;
  display: none; /* Hide the close button by default */
}

/*------------------*/

/* BODY*/
.row {
  display: flex;
  align-items: center;
  margin: 100px 0; 
}
.col-1{
  flex-basis: 45%;
  position: relative;
  margin: 50px;
  margin-right: 50px;
}
.col-2 {
  position: relative;
  align-items: center;
}
.col-2 > img {
  width: 100%;
  height: 600px;
}
.col-1 h2 {
  font-size: 54px;
  margin-bottom: 30px;
}
.col-1 p{
  color: hsl(0, 0%, 41%);
  margin-bottom: 50px;
}
.button1{
  border-radius: 10px;
  width: 140px;
  height: 40px;
  border: 1 solid #000;
  padding: 6px 5px;
  cursor: pointer;
  background-color: #ffff;
}
.sponsor  {
  position: relative; 
  left: 70px;
  bottom: 200px;
  width: 500px;

}
/* Acknowledgement */
.attribution {
  text-align: center;
  cursor: no-drop;
  transition: 0.5 ease;
}
.attribution a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.attribution a:hover{
  color: #000;
  text-transform: uppercase;
}

/*-----------------------------------*\ 
#MEDIA QUERIES
\*-----------------------------------*/
/**
* responsive for larger than 550px screen
*/
@media screen and (max-width: 480px) {
/* Removes the extra spacing mobile device*/ 
html, body{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Menu */
#menu-icon{
  display: block;
}
.navigation{
  display: none;
}
.navigation.show {
  display: flex;
}
/* Body */
.row{
  flex-direction: column-reverse;
  margin: 50px 0;
}
.col-1 h2{
  font-size: 30px;
}
.col-1  br{
  display: none;
}
.button1{
  margin-left: 60px;
  top: 5px;
}
.col-2 > img{
  max-width: 100%;
  max-height: 500px;
}

.sponsor{
  bottom: 50px;
  margin-bottom: 10px;
  left: 25px;
}
.sponsor a >img{
  width: 13%;
  margin: 10px;
}
.attribution{
  font-size: 9px;
  margin: 20px;
  color: hsl(0, 0%, 41%);
}
}